
@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

<form action="" method="post">
    <input type="submit" value="button1" name="action:Save" />
    <input type="submit" value="button2" name="action:Cancel" />
</form>