@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>E-mail:</strong> kameronkemnitz@gmail.com<br />
    <strong>Phone:</strong> 573-7704
</address>